.search {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  background-color: #fff;
  position: relative;

  // input {
  //   background-color: transparent;
  //   border: none;
  //   width: 95%;
  // }

  // .svg {
  //   background: transparent;
  //   color: black;
  //   position: absolute;
  //   right: 10px;
  // }
}
button {
  width: 10%;
  background-color: #fff;
  border-radius: 8px;
  color: black;
}
