.input {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;

  input {
    width: 100%;
    border: none;
    padding: 10px;
  }

  &__svg {
    position: absolute;
  }

  &:focus {
    border: none;

    background-color: #ffffffb5;
  }
}
