* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

.header {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  .search {
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    background-color: #fff;
    position: relative;

    // input {
    //   background-color: transparent;
    //   border: none;
    //   width: 95%;
    // }

    // .svg {
    //   background: transparent;
    //   color: black;
    //   position: absolute;
    //   right: 10px;
    // }
  }
  button {
    width: 10%;
    background-color: #fff;
    border-radius: 8px;
    color: black;
  }
}
.pagination {
  margin-left: calc(50% - 13%);
  margin-bottom: 20px;
}
